<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="/vendor/css/auth.css" type="text/css" rel="stylesheet" />
    <%- include('../../include/headers/assets', {isAuthView: true}) %>
</head>

<body>
    <div id="content" class="card-content">
        <h1>
            Login - Shots
        </h1>
        <% if (err) { %>
            <%- include('../../include/flashcards/error.ejs', {err: err}) %>
        <% } %>
        <% if (msg) { %>
            <%- include('../../include/flashcards/msg.ejs', {msg: msg}) %>
        <% } %>
        <div class="row">
            <form class="col s12" action="/auth/login" method="POST">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="Username" type="text" class="validate" name="username" required>
                        <label>Username</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="password" type="password" class="validate" name="password" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s11"></div>
                    <input type="submit" class="btn waves-effect waves-light col s2 light-blue" value="Login">
                    </sumbit>
                </div>
            </div>
        </form>
    </div>
</body>

</html>