<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link href="/vendor/css/auth.css" type="text/css" rel="stylesheet" />
    <%- include('../../include/headers/assets', {isAuthView: true}) %>
</head>

<body>
    <div id="content" class="card-content">
        <h1>
            Register - Shots
        </h1>
        <% if (err) { %>
        <%- include('../../include/flashcards/error.ejs', {err: err}) %>
        <% } %>
        <% if (msg) { %>
        <%- include('../../include/flashcards/msg.ejs', {msg: msg}) %>
        <% } %>
        <div class="row">
            <form class="col s12" action="/auth/register" method="POST">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="Email" type="email" class="validate" name="email" required>
                        <label>Email</label>
                    </div>
                    <div class="input-field col s6">
                            <input id="name" type="text" class="validate" name="name" required>
                            <label for="name">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="about" type="text" class="materialize-textarea" name="about"></textarea>
                        <label for="about">About</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="Username" type="text" class="validate" name="username" required>
                        <label>Username</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="password" type="password" class="validate" name="password" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s11"></div>
                    <input type="submit" class="btn waves-effect waves-light col s2 light-blue" value="Register">
                    </sumbit>
                </div>
        </div>
        </form>
    </div>
</body>

</html>