<% if (!xhr) { %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <%- include('../include/headers/assets', {isAuthView: false}) %>
</head>

<body>
    <%- include('../include/headers/headerbar') %>
    <div id="content">
        <% } %>
        <h1>
            Aw Snap, this is a 404
        </h1>
        <h3>
            Looks like I am lost in this Shot World!
        </h3>
        <br />
        <div class="card-action">
            <a href="/">
                Go Home ~
            </a>
        </div>
        <% if (!xhr) { %>
    </div>
</body>

</html>
<% } %>