<% if (!xhr) { %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Post</title>
    <%- include('../include/headers/assets', {isAuthView: false}) %>
</head>

<body>
    <%- include('../include/headers/headerbar') %>
    <div id="content">
        <% } %>
        <div class="row">
            <form action="/edit" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="about" type="text" class="materialize-textarea" name="about"><%= about %></textarea>
                        <label for="about">About</label>
                    </div>
                </div>
                <div class="row">
                    <div class="s3">
                        <input type="file" name="pfp" class="btn waves-effect waves-light col s3 light-blue"/>
                    </div>
                    <div class="s6"></div>
                    <div class="s3">
                        <input type="submit" class="btn waves-effect waves-light col s2 light-blue" value="Done" />
                    </div>
                </div>
            </form>
        </div>
        <% if (!xhr) { %>
    </div>
</body>

</html>
<% } %>