<% if (!xhr) { %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shots</title>
    <%- include('../include/headers/assets', {isAuthView: false}) %>
</head>

<body>
    <%- include('../include/headers/headerbar') %>
    <div id="content">
        <% } %>
        content    
        <% if (!xhr) { %>
    </div>
</body>

</html>
<% } %>