<% if (!xhr) { %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Me</title>
    <%- include('../include/headers/assets', {isAuthView: false}) %>
</head>

<body>
    <%- include('../include/headers/headerbar') %>
    <div id="content">
        <% } %>
        <div class="row">
            <div class="col s12 m7">
                <h2 class="header"><%= username %></h2>
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="/<%= pfp %>">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>
                                <b>
                                    Name: <%= name %>
                                    <br />
                                    Email: <%= email %>
                                    <br />
                                    <br />
                                </b>
                                About: <%= about %>
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="/edit">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h1>
                Posts
            </h1>
            <% if(posts.length == 0){ %>
                <h1>
                    Come have some Shots
                    <br />
                    I feel lonely here!
                </h1>
            <% } %>
            <% posts.forEach(function(post) { %>
                <%- include('../include/post', {post: post}) %>
            <% }) %>
        </div>
        <form action="/auth/logout" method="POST" class="col s12">
            <div class="row">
                <div class="col s11"></div>
                <input type="submit" class="btn waves-effect waves-light col s2 light-blue" value="Logout">
                </sumbit>
            </div>
        </form>
        <% if (!xhr) { %>
    </div>
</body>

</html>
<% } %>