<div class="row">
    <div class="col s12">
        <div class="card-panel green">
            <span class="white-text">
                <%= msg %>
            </span>
        </div>
    </div>
</div>