<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img src="<%= post.image %>">
                <span class="card-title"><%= post.comment %></span>
            </div>
        </div>
    </div>
</div>