<script src="/vendor/js/libraries/jquery.min.js"></script>
<script src="/vendor/js/libraries/materialize.min.js"></script>
<link href="/vendor/css/libraries/materialize.min.css" type="text/css" rel="stylesheet" />
<link href="/vendor/css/libraries/font.css" type="text/css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css" rel="stylesheet" />
<% if(!isAuthView) { %>
    <link href="/vendor/css/app.css" type="text/css" rel="stylesheet" />
    <script src="/vendor/js/app.js"></script>
<% } %>