<nav id="navigation">
    <div class="nav-wrapper light-blue">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/" class="brand-logo">Shots</a>
        <ul id="nav-mobile" class="small right hide-on-med-and-down">
            <li><a href="/new">New Post</a></li>
            <li><a href="/">Posts</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/chats">Chats</a></li>
            <li><a href="/me">Me</a></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        </ul>
    </div>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
</nav>